.row{
margin: 0 auto;
max-width: 1100px;
}
.clear::after{
content:"";
display: block;
clear: both;
}
.navbar-default{
background-color: #2d1152;
}
#top{
background-color: white;
}
#top ul{
list-style: none;
}
#top li{
color: white;
display: inline;
margin-right: 30px;
}
#top a{
color: white;
}
#top button{
color: white;
}
.top_title2{
margin-top: 20px;
}
.top_title2 img{
float: left;
}
.top_title2_sr{
margin-top: 10px;
}
.top_title2 input{
width: 460px;
float: left;
margin-left: 80px;
}
.top_title2 button{
background-color: #3372e0;
width: 80px;
margin-left: 10px;
float: left;
}
.top_title2_btn{
float: left;
margin-left: 50px;
}
#hot_sr{
margin-left: 220px;
}
#hot_sr a{
color: blue;
margin-left: 10px;
}
#main{
padding-top: 170px;
}
#main_left{
float: left;
}
.main_left_ul_1{
float: left;
margin-right: 20px;
}
.main_left_ul_2{
float: left;
}
#main_left ul{
list-style: none;
padding-left: 0px;
}
#main_left li{
margin-top: 15px;
}
#main_left a{
color: #1D1DA3;
font-size: 15px;
}
#main_center{
float: left;
margin-left: 60px;
width: 590px;
}
.main_center_news{
border:1px solid #e6e6e6;
}
.main_center_news li{
width: 100px;
}
.main_center_news_tab a{
color: black
}
.main_center_news img{
float: left;
margin-top: 10px;
}
.main_center_news_span{
float: left;
margin: 10px
}
.main_center_row{
margin-top: 10px;
border:1px solid #e6e6e6;
}
.main_center_row0_img{
float: left;
width: 196px;
}
.main_center_row0_img p{
text-align: center;
margin-bottom: 0px;
}
.main_center_row1_ul{
list-style: none;
padding-left: 0px;
margin:10px;
}
.main_center_row1_ul img{
float: left;
}
.main_center_row1_ul li{
height: 70px;
overflow: hidden;
border-bottom: 1px solid #e6e6e6;
margin-bottom: 20px;
}
#main_right{
	float: left;
	margin-left: 40px;
	width: 250px;
}
.main_right_row{
	margin-top: 40px;
}